@import "tailwindcss";

@theme{
    --color-DarkGray: hsl(0, 0%, 48%);
    --color-ModerateCyan: hsl(176, 50%, 47%)
}

*{
    font-family: "Commissioner", sans-serif;
}

html, body, #root {
    height: 100%; /* Ensure parent elements take full screen height */
    background: oklch(0.967 0.003 264.542);
}

body{
    height: 100%;
}

.backgroundMain{
    filter:brightness(75%)
}

span{
    border: 0.5px solid lightgray;
}

progress {
    width: 100%;
    height:15px;
    border-radius: 5px;
    appearance: none; /* Remove default styles */
  }
  
  ::-webkit-progress-bar {
    background-color: #e0e0e0; /* Background color */
    border-radius: 15px;
  }
  
  ::-webkit-progress-value {
    background-color: hsl(176, 50%, 47%); /* Progress color */
    border-radius: 25px;
    transition: width 0.3s ease; /* Smooth transition */
  }
  