@import "tailwindcss"

@theme{

    /*Neutrals*/

  --color-Neutral900: `hsl(227, 75%, 14%)`
  --color-Neutral800: `hsl(226, 25%, 17%)`
  --color-Neutral700: `hsl(225, 23%, 24%)`
  --color-Neutral600: `hsl(226, 11%, 37%)`
  --color-Neutral300: `hsl(0, 0%, 78%)`
  --color-Neutral200: `hsl(217, 61%, 90%)`
  --color-Neutral100: `hsl(0, 0%, 93%)`
  --color-Neutral0: `hsl(200, 60%, 99%)`
  
   /* Reds */
  
  --color-Red 400: `hsl(3, 86%, 64%)`
  --color-Red 500: `hsl(3, 71%, 56%)`
  --color-Red 700: `hsl(3, 77%, 44%)`
  
  /*Gradients*/
  
  - **Light Gradient**: `linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%)`
  - **Dark Gradient**: `linear-gradient(180deg, #040918 0%, #091540 100%)`

}

